.container {
    background-color: #2F1893;
    width: 1400px;
    height: 890px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 972px;
    height: 40px;
    padding-top: 65px;
    padding-left: 213px;
}

ul {
    color: white;
    list-style-type: none;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.btn1 {
    width: 157px;
    height: 50px;
    top: 665px;
    left: 209px;
    background-color: #E93A7D;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 100px;
    border: none;
    color: #000;
    color: #FFFFFF;
    float: left;
}

h1,
h2,
h5 {
    color: #FFFFFF;
}

h3 {
    color: #1E0E62;
    font-family: DM Sans;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4px;
    text-align: center;

}



.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.child1,
.child2 {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.child1 {
    width: 427px;
    height: 496px;
    top: 219px;
    left: 209px;
}

.child2 {
    width: 470px;
    height: 600px;
    top: 187px;
    left: 715px;
    background-color: #FFFFFF;
}

input[type=text],
input[type=password] {
    width: 330px;
    height: 50px;
    top: 391px;
    left: 785px;
    border-radius: 100px;
    border-color: gray;
    text-align: left;
    border: 2px solid #EBEAED;
}

::placeholder {
    padding-left: 2rem;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #15143966;
}

input[type=checkbox] {
    width: 24px;
    height: 24px;
    top: 471px;
    left: 785px;
    color: #1E0E62;
    accent-color: #25DAC5;
}

label {
    color: grey;
    width: 228px;
    height: 26px;
    top: 471.4px;
    left: 822px;

}

.divider {
    display: flex;
    align-items: center;
    font-size: 0.9375rem;
    color: grey;
}

.divider::before,
.divider::after {
    content: '';
    height: 1px;
    background-color: silver;
    flex-grow: 1;
}

.divider::before {
    margin-right: var(--divider-gap);
}

.divider::after {
    margin-left: var(--divider-gap);
}

.signinBtn {
    width: 330px;
    height: 50px;
    border-radius: 100px;
    background-color: #482BE7;
    border: none;
    color: #FFFFFF;
}

.loginBtn {
    width: 330px;
    height: 50px;
    border-radius: 100px;
    background-color: #1DA1F2;
    border: none;
    color: #FFFFFF;
}

.register {
    color: #15143966;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;

}

.demo {
    color: #25DAC5;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.h1div {
    width: 424px;
    height: 217px;
    top: 219px;
    left: 212px;
    font-family: DM Sans;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: left;
}

.pdiv {
    width: 363px;
    height: 160px;
    top: 460px;
    left: 212px;
    font-family: DM Sans;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;

}